@media (max-width: 768px) {
	.home-container {
		margin: 0 !important;
		padding: 0 !important;
	}

	.home-section {
		padding-left: 10px;
		padding-right: 10px;
	}
}


.home-container {
	display: flex;
	flex-direction: column;
}

.home-section {
	padding-top: 30px;
}
