.media-list-container {
	display: flex;
	flex: 1;
	flex-direction: row;
	overflow-x: scroll;
}

.media-carousel {
	display: flex;
	flex-direction: row;

	.media-btn-carousel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.media-icon-carousel {
		cursor: pointer;
	}
}

.media-card {
	padding: 10px;
}

.media-img-source {
	height: 225px;
	width: 150px;
	border-radius: 8px;
}

.media-card-content {
	display: flex;
	flex-direction: column;

	.media-title {
		font-weight: bold;
	}

	.media-date {
		color: $color-gray;
	}
}
