@media (max-width: 640px) {
	.media-poster {
		flex-direction: column !important;
		align-items: center;
	}

	.media-description {
		padding: 10px 0 !important;
	}

	.media-movie-sections {
		padding: 10px !important;
	}
}

@media (max-width: 930px) {
	.media-movie-videos {
		width: 100% !important;
	}

	.media-movie-sections {
		flex-direction: column !important;
	}
}

.media-list-container {
	display: flex;
	flex: 1;
	flex-direction: row;
	overflow-x: scroll;
}

.media-carousel {
	display: flex;
	flex-direction: row;

	.media-btn-carousel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.media-icon-carousel {
		cursor: pointer;
	}
}

.media-card {
	padding: 10px;
}

.media-img-source {
	height: 225px;
	width: 150px;
	border-radius: 8px;
}

.media-card-content {
	display: flex;
	flex-direction: column;
}

.media-movie-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	.media-cover {
		background-image: linear-gradient(to right, #032541 150px, rgba(40, 55, 36, 0.84) 100%);
	}

	.media-poster {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 40px;

		img {
			border-radius: 4px;
			width: 200px;
			height: 300px;
		}
	}

	.media-description {
		flex: 75;
		padding: 0 50px 50px;

		.media-title {
			h2 {
				color: $color-white;
				font-weight: bold;
			}
			span {
				color: $color-white;
			}
		}

		.media-overview {
			color: $color-white;
			padding-top: 20px;
		}
	}
}

.media-movie-videos-section {
	padding-top: 20px;
}

.media-movie-videos {
	width: 80%;
}

.media-movie-sections {
	display: flex;
	flex-direction: row;
}

.media-movie-info {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 20px;

	.media-movie-info-part {
		display: flex;
		flex-direction: column;
		margin-top: 15px;

		.media-title {
			font-weight: 500;
		}
	}
}
