@import '../../styles/variables';

@media (max-width: 630px) {
    .search-info-container {
        display: none !important;
    }

    .search-info-container-mobile {
        display: flex !important;
        padding-left: 10px;
        width: 100%;
        overflow-x: scroll;
    }

    .search-info-item {
        width: 40% !important;

        font-weight: normal !important;
    }
}

.search-info-container-mobile {
    display: none;
}

.search-info-inline {
    display: -webkit-inline-box;
}

.search-info-container {
    padding-right: 10px;
    padding-left: 10px;
}

.search-info-item {
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.search-info-type {
    flex: 1;
    padding-left: 5px;
    font-weight: bold;
}

.search-info-type-total {
    margin-top: 5px;
}

.search-info-header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $color-ligth-blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    h4 {
        color: $color-white;
        padding-left: 15px;
        padding-right: 15px;
    }
}