@import '../../styles/variables';

@media (max-width: 630px) {
    .navbar-container-link {
        display: none !important;
    }

    .navbar-btn-auth {
        flex: 1 !important;

        button {
            float: right;
        }
    }

    .navbar-drawer {
        display: block !important;
    }
}

@media (min-width: 630px) {
    .navbar-drawer {
        display: none !important;
    }
}

.navbar-header {
	background-color: $color-dark-blue !important;
}

.navbar-drawer {
	color: $color-white !important;
}

.navbar-link-home {
	color: $color-white;

	&:hover {
		text-decoration: none;
		color: $color-white;
	}
}


.navbar-container-link {
	margin-left: 20px;
	flex: 80;

	button {
		margin-left: 10px;
		color: $color-white;
	}
}

.navbar-btn-auth {
	button {
		color: $color-white !important;
	}
}
