@import '../../styles/variables';

@media (max-width: 910px) {
    .search-overview {
        -webkit-line-clamp: 4 !important;
    }
}

@media (max-width: 675px) {
    .search-overview {
        -webkit-line-clamp: 3 !important;
    }
}

.list-search-container {
    flex-direction: row;
    width: 70vw;
    min-width: 0;

    .search-card {
        cursor: pointer;
        display: flex;
        height: 200px;
        flex-direction: row;
        margin: 10px;
        box-shadow: 0px 0px 4px $color-gray;

        .search-result-type {
            text-transform: capitalize;
        }

        .search-img {
            width: 150px;
        }

        .search-overview {
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            width: 100%;
            padding-top: 5px;
        }

    }

}