@import '../../styles/variables';

.drawer-container {
    background-color: $color-dark-blue !important;
    color: $color-white;
    height: 100%;
    width: 200px;
}

.drawer-accordion {
    background-color: $color-dark-blue !important;

    a {
        color: $color-white;
    }

    .accordion-title {
        color: $color-white;
    }

    .accordion-icon {
        color: $color-white;
    }
}