@import '../../styles/variables';

@media (max-width: 710px) {
	.search-container {
		padding: 10px !important;
	}
}

@media (max-width: 440px) {
	.search-title {
		h3 {
			font-size: 1.5em !important;
		}
	}
}

.search-container {
	display: flex;
	flex-direction: column;
	padding: 65px;
	min-height: 300px;
	height: calc(100vh / 2.5);
	max-height: 360px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;

	.search-title {
		color: $color-white;
		& h2 {
			font-size: 3em;
			font-weight: 700;
			line-height: 1;
		}
		& h3 {
			font-size: 2em;
			font-weight: 600;
			margin: 0;
		}
	}

	.search-input {
		width: 100%;
		height: 45px;
		border-radius: 100px;
		padding: 10px;
		outline: none;
		margin-top: 10px;
		background-color: $color-white;

		&:focus {
			outline: none;
			border-color: inherit;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
}