@import "../../styles/variables";

.loading-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.loading-circle, .loading-text {
		color: $color-dark-blue;
	}

}
